.App {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar routes";
  grid-template-rows: 56px 1fr;
  grid-template-columns: min-content 1fr;
  width: 100vw;
  height: 100vh;
}

.Nav {
  grid-area: header;
  display: flex;
  background-color: #282c34;
}

.Sidebar {
  grid-area: sidebar;
}

.Routes {
  grid-area: routes;
  padding: 20px;
}

.link-item {
  color: #61dafb;
  padding: 20px;
}